<div class = "container">
  <h1> Form Page 3</h1>
  <div class="button-row">
    <a routerLink="/questions-set2" class="button-routing left"> Back </a>
    <a routerLink="/dashboard" class="button-routing center"> Dashboard </a>
    <a routerLink="/questions-set4" class="button-routing right"> Next </a>
    <router-outlet></router-outlet>
  </div>
  <br><br>
  <h2> Question 3: </h2>
  <input type="checkbox" [(ngModel)]="caucasian"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked">Caucasian </span><span *ngIf="!marked">Caucasian (false) </span>
  <span class="checkmark"></span>
  <br>
  <input type="checkbox" [(ngModel)]="asian"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked">Asian </span><span *ngIf="!marked">Asian (false) </span>
  <span class="checkmark"></span>
  <br>
  <input type="checkbox" [(ngModel)]="aa"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked">African American </span><span *ngIf="!marked">African American (false) </span>
  <span class="checkmark"></span>
  <br>
  <input type="checkbox" [(ngModel)]="pi"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked">Pacific Islander </span><span *ngIf="!marked"> Pacific Islander (false) </span>
  <span class="checkmark"></span>
  <br>
  <input type="checkbox" [(ngModel)]="na"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked">Native American </span><span *ngIf="!marked">Native American (false) </span>
  <span class="checkmark"></span>
  <br>
  <input type="checkbox" [(ngModel)]="me"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked"> Middle Eastern </span><span *ngIf="!marked"> Middle Eastern (false) </span>
  <span class="checkmark"></span>
  <br>
  <br>
  <h2> Question 2: </h2>
  <input type="checkbox" [(ngModel)]="caucasian"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked">Caucasian </span><span *ngIf="!marked">Caucasian (false) </span>
  <span class="checkmark"></span>
  <br>
  <input type="checkbox" [(ngModel)]="asian"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked">Asian </span><span *ngIf="!marked">Asian (false) </span>
  <span class="checkmark"></span>
  <br>
  <input type="checkbox" [(ngModel)]="aa"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked">African American </span><span *ngIf="!marked">African American (false) </span>
  <span class="checkmark"></span>
  <br>
  <input type="checkbox" [(ngModel)]="pi"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked">Pacific Islander </span><span *ngIf="!marked"> Pacific Islander (false) </span>
  <span class="checkmark"></span>
  <br>
  <input type="checkbox" [(ngModel)]="na"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked">Native American </span><span *ngIf="!marked">Native American (false) </span>
  <span class="checkmark"></span>
  <br>
  <input type="checkbox" [(ngModel)]="me"  data-md-icheck (change)="toggleVisibility($event)"/>
  <span *ngIf="marked"> Middle Eastern </span><span *ngIf="!marked"> Middle Eastern (false) </span>
  <span class="checkmark"></span>
</div>
