<div class = "container">
  <h1>Section 2</h1>
  <div>
    <div class="button-row">
      <a routerLink="/questions-set1" class="button-routing left"> Back </a>
      <a routerLink="/dashboard" class="button-routing center"> Dashboard </a>
      <a routerLink="/questions-set3" class="button-routing right"> Next </a>
      <router-outlet></router-outlet>
    </div>
    <br><br>
    <h2> Question 2: </h2>
    <form action="/action_page.php">
      <textarea class="resize" name="message" rows="20">Type your answer here. Click bottom right to increase text box size.</textarea>
      <br>
      <input type="reset" value="Clear Form"><br>
    </form>
    <br>

  </div>
</div>
