
.container{margin: 1% auto;
  width: 80%;
  background-color: white;
  border-style: inset;
  border-width: 5px;
}
h1, p {
  text-align: center
}
.button-routing{
    background-color: #4CAF50;
    color: white;
    padding: 4px 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    border: 2px solid black;
    float: left;
}
.button-routing:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.incomplete-circle{
    display: table-cell;
    margin-left: 100px;
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20%;
    background: #ff0028;
    color: #fff;
    font: 12px;
}

.complete-circle{
    display: table-cell;
    margin-left: 100px;
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20%;
    background: green;
    color: #fff;
    font: 12px;
}

