<div class = "container">
  
  <div id="titleDiv">
    <div id="titleLeft"><h2>Hi {{currentUser.firstName}}!</h2></div>
    <div id="titleRight"><a [routerLink]="['/login']" class="button-routing">Logout</a></div>
  </div>

  <div class="fullDiv">
    <h3 style = "text-align:center">Welcome to PardonMe! </h3>
    This website is designed to help guide you through the process of applying for a pardon in the state of Pennsylvania. We have designed this website to be more interactive in comparison to a typical fill-in-pdf. You will be a character attempting to climb a mountain where your goal is the peak. Throughout the map, there are stops in which you will answer questions that pertain to you, other people, as well as all necessary information to complete the pardon form. We sincerely hope that you enjoy the game and wish you good luck in your application process!
    <br>
    <div class="centerButtonDiv">
    <a routerLink="/dashboard" class="button-routing" style = "display:flex; align-items: center;">Start Form</a>
  </div>
    <router-outlet></router-outlet>
  </div>
  <div class="fullDiv">Have any questions? Contact us!</div>
  
</div>
