.button1 {
  background-color: #008CBA;
  opacity: 0.6;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}
.button1:hover {
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
  background-color: #f44336;
  opacity: 0.6;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}
.button2:hover{
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
h2, h3 {
  font-size: 25px;
}
.button-routing{
  background-color: #4CAF50;
  color: white;
  padding: 4px 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  border: 2px solid black;
  float: left;
}
.button-routing:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.right{
  float: right;
}


h1 {
  text-align: center;
}
.container{
  margin: 1% auto;
  width: 80%;
  background-color: white;
}
.formbox{
  margin: 1%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container {
  background-color: white;
}

.button-row {
  margin: 10px 0;
}
